﻿/*Panel tabs*/
.panel-tabs {
    position: relative !important;
    bottom: 3px !important;
    clear:both !important;
    border-bottom: 1px solid transparent !important;
    margin-bottom: -30px !important;
}

.panel-tabs > li {
    float: left !important;
    margin-bottom: -1px !important;
}

.panel-tabs > li > a {
    margin-right: 2px !important;
    margin-top: 4px !important;
    line-height: .7 !important;
    border: 1px solid transparent !important;
    border-radius: 4px 4px 0 0 !important;
    color: #000 !important;
    font-family: 'Roboto Regular';
    font-weight: 500;
    font-size: 12px;
}

.panel-tabs > li > a:hover {
    border-color: transparent !important;
    color: #000 !important;
    background-color: transparent !important;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff !important;
    cursor: default !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    background-color: #55acee !important;
    border-bottom-color: transparent !important;
    color: #fff;
}

.panel .panel-heading {
    padding-bottom: 0px;
    background: linear-gradient(to bottom,#E0ECFF 0,#E0ECFF 100%);
    background-repeat: repeat-x;
    border:none;
    min-height: 32px !important;
}

.etq {
    padding-top: 3px !important;
    font-weight: 800 !important;
    background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    background-repeat: repeat-x;
    border-top: solid 0.1px #95B8E7;
    border-left: solid 0.1px #95B8E7;
    border-right: solid 0.1px #95B8E7;
    min-height: 27px !important;
}

.ctrl {
    background-color: rgba(243, 243, 246, 0.3);
    min-height: 27px !important;

    border-top-color: #ccc;
    border-top-width: 0.1px;
    border-top-style: dotted;
}

.ctrl_right {
    background-color: rgba(243, 243, 246, 0.3);
    min-height: 27px !important;

    border-top-color: #ccc;
    border-top-width: 0.1px;
    border-top-style: dotted;

    border-right-color: #ccc;
    border-right-width: 0.1px;
    border-right-style: dotted;
}

.etq label{
    font-family: Calibri !important;
    font-weight: bold !important;
}

.ctrl label{
    font-family: Calibri !important;
    font-weight: 500 !important;
}

.panel .panel-body {
    padding-top: 5px !important;
}
.panel-primary {
    border: none !important;
}

.filter{
    background: linear-gradient(to bottom,#55acee 0,#55acee 100%) !important;
    background-repeat: repeat-x;
    color:white !important;
}

html .select2-container {
    width: 100% !important;
}


